<!-- custom-slider.liquid -->
<div class="container">
  <div class="row hero-slider">
    <span class="prev-arr slider-nav-arrow">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        transform="matrix(-1, 0, 0, 1, 0, 0)"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
                fill="currentColor"></path>
        </g>
      </svg>
    </span>

    <div class="slider">
      {% for block in section.blocks %}
        <div>
          <img
            class="slide-image"
            src="{{ block.settings.background_image | image_url }}"
            width="100%"
            height="100%"
            alt=""
          >
          <div class="slide-content">
            <p>{{ block.settings.text }}</p>
            <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
          </div>
        </div>
      {% endfor %}
    </div>

    {% comment %}
      <div class="slider">
        {% for block in section.blocks %}
          <div>
            <div
              class="slide-image"
              style="background-image: url({{ block.settings.background_image | image_url }});"
            ></div>
            <div class="slide-content">
              <p>{{ block.settings.text }}</p>
              <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endcomment %}

    <span class="next-arr slider-nav-arrow">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
                fill="currentColor"></path>
        </g>
      </svg>
    </span>
  </div>
</div>

<style>
  .slider {
    padding: 0px;
  }

  .hero-slider {
    position: relative;
  }
  .hero-slider .slider-nav-arrow {
    position: absolute;
    top: 50%;
    z-index: 99;
  }
  .hero-slider .slider-nav-arrow:last-child {
    right: 0;
  }

  .slider .slick-slide {
    position: relative;
    margin: 0 10px;
    min-height: 650px;
    overflow: hidden;
    border-radius: 20px;
  }

  .slider .slick-slide .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    z-index: 1;
  }

  .slider .slick-slide .slide-content p {
    font-weight: 700;
    font-size: 18px;
  }

  .slider .slick-slide .slide-content a {
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    font-size: 14px;
  }

  .slider .slick-slide .slide-content a:hover {
    background-color: #f5f5f5;
  }

  .slider .slick-slide .slide-image {
    width: 100%;
    height: 100%;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
  }

  .slider .slick-slide:hover .slide-image {
    width: 105%;
    height: 105%;
  }
</style>

{% schema %}
{
  "name": "Hero Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Slide Text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
