{% schema %}
{
  "name": "Centered Text Section",
  "settings": [
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding left",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "enable_button",
      "label": "Enable Shop Now Button",
      "default": false
    },
    {
      "type": "text",
      "id": "text_content",
      "label": "Text Content",
      "default": "Your centered text here"
    },
    {
      "type": "text",
      "id": "text_button",
      "label": "Button Label",
      "default": "Shop Now",
      "info": "This setting is only visible if 'Enable Shop Now Button' is checked."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections",
      "info": "This setting is only visible if 'Enable Shop Now Button' is checked."
    }
  ],
  "presets": [
    {
      "name": "Top Bar Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div style="background-color: {{ section.settings.background_color }}; font-size: {{ section.settings.font_size }}px;">
  <div style="text-align: {{ section.settings.text_alignment }}; margin:auto; color: {{ section.settings.text_color }}; max-width:1200px;">
    {{ section.settings.text_content }}
    {% if section.settings.enable_button %}
      <a href="{{ section.settings.button_link }}" style="display: inline-block; background-color: {{ section.settings.background_color }}; color: {{ section.settings.button_text_color }}; padding-left: {{ section.settings.padding_left }}px; text-decoration: underline; ">
          {{ section.settings.text_button }}
        </a>
    {% endif %}
  </div>
</div>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
